* {
	font-size: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.note-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 30%;
	height: 100%;
	border: 1px solid black;
}
.note {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	width: 100%;
	background-color: lightblue;
	height: 3em;
	margin-bottom: 2px;
}
.note div:first-child {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.note div:nth-child(2) {
	flex-basis: 10%;
	justify-content: space-between;
	display: flex;
	align-self: center;
	color: white;
}
.note div:nth-child(2) * {
	width: 1.3em;
	height: 1.3em;
}

.editor {
	position: absolute;
	left: 70%;
	top: 0%;
	width: 30%;
	height: 100%;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
}
.editor .input-area {
	display: flex;
	flex-direction: column;
	flex-basis: 30%;
	border: 1px solid black;
	font-size: 2em;
	justify-content: space-between;
}
.editor .input-area * {
	flex-basis: 20%;
}
.editor .textbox-area {
	flex-basis: 30%;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
}
.editor .textbox-area :first-child {
	flex-basis: 10%;
	font-size: 1.5em;
}
.editor .textbox-area :last-child {
	font-size: 1.5em;
	flex-basis: 90%;
	resize: none;
}
.editor .checkbox-area {
	flex-basis: 30%;
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	font-size: 2em;
}
.editor .checkbox-area :last-child {
	width: 10%;
	height: 10%;
}

.editor .submit {
	flex-basis: 10%;
	border: 1px solid black;
	width: 100%;
	height: 100%;
	background-color: lightblue;
	color: white;
	font-size: 2em;
}

.add-element {
	font-size: 2em;
	position: absolute;
	left: 50%;
	height: 5%;
	background-color: lightblue;
	color: white;
	transform: translate(-50%);
	width: 40%;
}
.view-container{
	position: absolute;
	top: 10%;
	left: 30%;
	width: 40%;
	height: 90%;
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.view-container .header{
	font-size: 2em;
	justify-self: center;
	flex-basis: 8%;
	text-align: center;
	background-color: lightblue;
	color: white;
	text-shadow: 1px 1px 1px black;
}
.view-container .text{
	font-size: 1.5em;
	background-color: lightblue;
	color: white;
	text-shadow: 1px 1px 1px black;
	text-align: center;
	flex-basis: 60%;
}
.view-container .important{
	flex-basis: 20%;
	text-align: center;
	background-color: firebrick;
	color: white;
	font-size: 2.5em;
}
.view-container .cancel{
	text-shadow: 1px 1px 1px black;
	background-color: lightblue;
	flex-basis: 10%;
	color: white;
	font-size: 2em;

}
